.category {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.category__inner {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}